<section class="text-gray-600 body-font w-full bg-gray-100 rounded-lg p-8 md:w-3/5 lg:w-2/5 mx-auto">
  <h2 class="text-gray-900 text-lg font-medium title-font mb-5">ログイン</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: ' flex flex-col md:ml-auto w-full mt-10 md:mt-0' }) do |f| %>
    <div class="field mb-4">
      <%= f.label :email, { class: 'leading-7 text-sm text-gray-600' } %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
    </div>

    <div class="field mb-4">
      <%= f.label :password, { class: 'leading-7 text-sm text-gray-600' } %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field mb-4">
        <%= f.check_box :remember_me, { class: 'form-tick appearance-none bg-white bg-check h-6 w-6 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none' } %>
        <%= f.label :remember_me, { class: 'leading-7 text-sm text-gray-600' } %>
      </div>
    <% end %>

    <div class="actions mb-4">
      <%= f.submit "ログイン", { class: 'w-full text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg' } %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</section>