<section class="container text-gray-600 body-font overflow-hidden">
  <div class="w-full mt-6 lg:mt-0 lg:pl-10 lg:py-6">
    <h2 class="text-gray-900 text-lg font-medium title-font mb-5">ユーザー情報編集</h2>

    <%= form_with(model: @user, url: user_path, local: true, class: 'flex flex-col md:ml-auto w-full mt-10 md:mt-0') do |f| %>
      <div class="field mb-4">
        <%= f.label :name, "名前", { class: 'leading-7 text-sm text-gray-600' } %><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "email", class: 'w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
      </div>

      <div class="field mb-4">
        <%= f.label :twitter_id, "TwitterID", { class: 'leading-7 text-sm text-gray-600' } %><br />
        <%= f.text_field :twitter_id, autocomplete: "twitterユーザー名", class: 'w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
      </div>

      <div class="field mb-4">
        <%= f.label :instagram_id, "InstagramID", { class: 'leading-7 text-sm text-gray-600' } %><br />
        <%= f.text_field :instagram_id, autocomplete: "instargramユーザー名", class: 'w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out' %>
      </div>

      <div class="actions mb-4">
        <%= f.submit "更新", { class: 'w-full text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg' } %>
      </div>
    <% end %>
  </div>
</section>