<div class="w-full xl:w-1/2 p-4">
  <div class="bg-white p-4 sm:h-64 rounded-2xl shadow-lg flex flex-col sm:flex-row gap-5 select-none">
    <div class="h-52 sm:h-full sm:w-72 rounded-xl <%= 'bg-gray-200 animate-pulse' if !circle.image&.image&.attached? %>">
      <%= image_tag circle.image&.display_image, class: "w-full h-52 sm:h-full sm:w-72 rounded-xl object-cover object-center rounded" if circle.image&.image&.attached? %> 
    </div>
    <div class="flex flex-col flex-1 gap-5 sm:p-2">
      <div class="flex flex-1 flex-col gap-3">
        <div class="w-full h-14 rounded-2xl">
          <%= link_to circle.name, circle, { class: "text-gray-900 text-3xl title-font font-medium mb-1 truncate" } %>
        </div>
        <div class="<%= 'bg-gray-200 animate-pulse h-3' if circle.description.blank? %> w-full rounded-2xl">
          <p class="leading-relaxed mb-5 line-clamp-2"><%= circle.description %></p>
        </div>
      </div>
      <div class="mt-auto flex gap-3">
        <%= render 'like_button', { circle: circle } %> 
      </div>
    </div>
  </div>
</div>