<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= render "layouts/rails_default" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="container mx-auto px-5 py-10 md:py-24 flex justify-center">
      <%= render "shared/flash" %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
  </body>
</html>
